body {
    font-family: 'Poppins';
}

.navbar {
    background-color: #000;
}

.nav-item {
    margin-right: 20px;
    font-weight: 200;
}

.nav-item.active a {
    color: #F9B234 !important;
    font-weight: 600;
}

.home {
    height: 600px;
    background-color: #000;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
}

.home p {
    margin-top: 220px;
    text-shadow: 1px 1px 10px rgb(0, 0, 0, 0.7);
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

.home a {
    cursor: pointer;
    background-color: #F9B234;
    border: 1px solid #fff;
}

.category h4,
.popular h4,
.similar-product h4 {
    font-family: 'Lora';
    color: #1B2690;
    font-weight: bold;
}

.figure h6 {
    color: #171717;
}

.figure-img {
    position: relative;
}

.figure-img a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
}

.figure-img:hover a {
    opacity: 1;
}

.figure-caption .viewers {
    font-size: 11px;
    margin-top: -9px;
    margin-bottom: 5px;
    margin-left: -75px;
    color: #171717;
}

.popular p,
footer p,
.similar-product p {
    font-weight: 200;
    color: #b7b7b7;
}


/* Breadcrumb */

.breadcrumb {
    margin-top: 100px;
}

.product-thumbnail-container {
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 360px;
    padding: 8px;
    margin: auto;
    transform: translateY(-50px);
}

.product-thumbnail-container a {
    text-decoration: none;
}

.btn-product {
    margin: 30px 0;
    border-bottom: 1px solid #eaeaef;
}

.btn-product .btn {
    display: block;
    margin: 10px 0;
}

.product-description {
    background-color: #F6F7FB;
    height: 350px;
}

.product-detail {
    height: 300px;
    /* overflow: scroll; */
}

.product-description .tab-content {
    background-color: #FFF;
    border: 1px solid #DEE2E6;
    border-top: 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
}

.product-description .tab-content p {
    font-size: 16px;
    font-weight: 200;
    color: #868686;
    line-height: 28px;
}

.similar-product {
    margin-top: 180px;
    margin-bottom: 100px;
}