body {
    font-family: 'Poppins';
}

.navbar {
    background: rgba(255, 255, 255, 0.6);
    color: black;

}

.navbar-light .nav-link {
    color: #1B2690 !important;
    font-weight: 400;
}

.navbar-light .active {
    font-weight: bold;
    color: #F9B234 !important;
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #1B2690;
    color: #ffffff;
}

.btn-login:hover {
    background-color: #1E3771;
    color: #ffffff;
    }

header {
    height: 690px;
    padding: 180px 0 165px;
    margin-top: -70px;
    background-image: url('../images/hero/hero_image.png');
    background-size: cover;
}

header h1 {
    margin-top: 70px;
    color: #ffffff;
    text-shadow: 1px 1px 10px rgb(0, 0, 0, 0.7);
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

header p {
    color: #ffffff;
    font-size: 22px;
}

.btn-get-started {
    cursor: pointer;
    background-color: #F9B234;
    border: 1px solid #fff;
}

.btn-get-started:hover {
    background-color: #FFAA69;
    color: #ffffff;
}

.section-brands {
    height: 100px;
    margin-top: -50px;
    
}

.brands-detail {
    padding-top: 15px;
    background-color: #ffffff;
}

.section-category {
    margin-top: -30px;
}

.section-category-blank {
    margin-top: -50px;
    height: 110px;
    
}

.section-category h4 {
    font-family: 'Lora';
    color: #1B2690;
    font-weight: bold;
    margin-top: 20px;
}

.figure {
    margin-top: 30px;
}

.figure h6 {
    color: #171717;
}

.figure-img {
    position: relative;
}

.figure-img a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
}

.figure-img:hover a {
    opacity: 1;
}

.figure-caption .viewers {
    font-size: 11px;
    margin-top: -9px;
    margin-bottom: 5px;
    margin-left: -75px;
    color: #171717;
}

.section-popular h4 {
    font-family: 'Lora';
    color: #1B2690;
    font-weight: bold;
}

.section-similar-product h4,
.section-gallery h4 {
    font-family: 'Lora';
    color: #1B2690;
    font-weight: bold;
}

.popular p,
footer p,
.section-similar-product p {
    font-weight: 200;
    color: #b7b7b7;
}


.card-details {
    padding: 30px;
    /* border-radius: 11px; */
    border: none;
}

.gallery .xzoom-container {
    display: block;
}

.gallery .xzoom {
    width: 100%;
    box-shadow: none;
    margin-bottom: 10px;
}

.gallery .xactive {
    border: 4px solid #1ABC9C;
    box-shadow: none;
}

.product-thumbnail-container {
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 380px;
    padding: 8px;
    margin: auto;
    transform: translateY(-50px);
}

.btn-product {
    margin: 30px 0;
    border-bottom: 1px solid #eaeaef;
}

.btn-product .btn {
    display: block;
    margin: 10px 0;
}

.section-product-description {
    background-color: #F6F7FB;
    height: 350px;
}

.product-detail {
    height: 300px;
    /* overflow: scroll; */
}

.detail-product .thumb:hover {
    opacity: 0.5;
}

.section-product-description .tab-content {
    background-color: #FFF;
    border: 1px solid #DEE2E6;
    border-top: 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
}

.section-product-description .tab-content p {
    font-size: 16px;
    font-weight: 200;
    color: #868686;
    line-height: 28px;
}

.section-similar-product {
    margin-top: 180px;
    margin-bottom: 100px;
}